@page "/"
@using System.Text

<PageTitle>Polialfabet</PageTitle>

<h2>Szyfr Gronsfelda</h2>

<div class="container d-flex flex-column gap-4">

    <div class="container-fluid d-flex flex-column gap-2">
        <div>
            <label for="originaltext">Tekst do zaszyfrowania:</label>
            <input type="text" id="originaltext" @bind="OriginalText" disabled="@IsInputDisabled" />
        </div>
        <div>
            <label for="key">Klucz:</label>
            <input type="text" id="key" @bind="Key" disabled="@IsInputDisabled" />
        </div>

        <button @onclick="EncryptGronsfeld" disabled="@IsInputDisabled">Zaszyfruj</button>
    </div>

    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <div class="alert alert-danger">@ErrorMessage</div>
    }

    @if (EncryptedText is not null)
    {
        <div class="container-fluid d-flex flex-column gap-2">
            <span>Zaszyfrowany tekst: @EncryptedText</span>
            <button @onclick="DecryptGronsfeld">Odszyfruj</button>
        </div>
    }

    @if (DecryptedText is not null)
    {
        <div class="container-fluid d-flex flex-column gap-2">
            <span>Odszyfrowany tekst: @DecryptedText</span>
        </div>
    }
</div>
